# Information Systems for Engineers 2020 - Cheat Sheet

During the exam, you will be required to write SQL queries using a Jupyter notebook.

This notebook is designed to help you start writing your queries by providing you an environment and some simple queries that you can use to recap the syntax of SQL.

Feel free to extend this notebook and use it for preparing the answers you need for the exam. Take into attention that the content of this notebook will not be considered for grading.

## SQL

In [ ]:
%load_ext sql
%sql postgresql://postgres:example@db

To print the tables currently loaded in the database run:

In [ ]:
%%sql

SELECT * 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_CATALOG = 'postgres' and TABLE_SCHEMA = 'public';

To print the attributes of a particular table ('categories', for example) run:

In [ ]:
%%sql

SELECT column_name, data_type, character_maximum_length
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name = 'categories';

For example, this is a valid PostgreSQL query to select one output entry:

In [ ]:
%%sql

SELECT * 
FROM categories
LIMIT 1;

A more complex PostgreSQL query joining several tables would look like this:

In [ ]:
%%sql
select lastname, firstname, territorydescription, regiondescription
from nwemployees, employeeterritories, territories, region
where nwemployees.employeeid = employeeterritories.employeeid and 
      employeeterritories.territoryid = territories.territoryid and
      territories.regionid = region.regionid
order by lastname
limit 10;

##### Note: the examples provided above do not contain all the query operations you might need during the exam.

Now its your turn, you can write all your queries in new cells below. Feel free to add as many cells as needed.