# Information Systems for Engineers 2021 - Cheat Sheet

During the exam, you will be required to write SQL queries using a Jupyter notebook.

This notebook is designed to help you start writing your queries by providing you an environment with the datasets loaded and a simple query that you can use to recap the syntax of SQL.

Feel free to extend this notebook and use it for preparing the answers you need for the exam. Take into account that the content of this notebook will not be considered for grading.

## SQL

There is a local PostgreSQL 12 installation with a dataset loaded into a database. Run the next cell to connect to it.

In [ ]:
%load_ext sql
%sql  postgresql://postgres:example@db

To print the tables currently loaded in the database run:

In [ ]:
%%sql

SELECT * 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_CATALOG = 'postgres' and TABLE_SCHEMA = 'public';

To print the attributes of a particular table (`employees`, for example) run:

In [ ]:
%%sql

SELECT column_name, data_type, character_maximum_length
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name = 'employees';

## Useful SQL Keywords

The Keyword `SELECT DISTINCT` is used to return only distinct values. For example:

In [ ]:
%%sql
SELECT DISTINCT title FROM titles;

The keyword `EXTRACT` is used to access the components of temporal data types (i.e. date, time, timestamp, and interval). For example:

In [ ]:
%%sql
SELECT * FROM titles WHERE EXTRACT(YEAR FROM to_date) < 1987;

## Complex query example

A more complex PostgreSQL query would look like:

In [ ]:
%%sql

XXXXX TODO XXXXX

## Exam database âˆ’ data about employees of a company

The dataset consists of relations containing information such as titles, birth dates and salaires about employees of a (fictitious) company. 

Here is some basic information on the database tables.

### 1) `departments` table

Contains the mapping from the identifier `dept_no` to `dept_name`.

* `dept_no` is the identifier of the department.

* `dept_name` is the name of the department.

In [ ]:
%%sql
SELECT * FROM departments;

### 2) `dept_emp` table

Contains information about which departments employees work for.

* `emp_no` is the employee id as defined in the `employees` table.
* `dept_no` is the department id.
* `from_date` is the date from which the employee has been employed by the department.
* `to_date` is the date until which the employee has been employed by the department.

Note that the date `9999-01-01` indicates that the employee is still employed by this particular department.

In [ ]:
%%sql
SELECT * FROM dept_emp LIMIT 4;

### 3) `dept_manager` table

Contains information about which employee has been the manager of a department and during which time.

* `emp_no` is the employee id as defined in the `employees` table.
* `dept_no` is the department id.
* `from_date` is the date from which the employee was manager of the department.
* `to_date` is the date until which the employee was manager of the department.

Note that the date `9999-01-01` indicates that the employee is still the manager of this particular department.

In [ ]:
%%sql
SELECT * FROM dept_manager LIMIT 4;

### 4) `employees` table

Contains information about each employee of the company.

* `emp_no` is the employee id as defined in the `employees` table.
* `birth_date` is the birth date of the employee.
* `first_name` if the first name of the employee.
* `last_name` is the last name of the employee.
* `gender` is the gender of the employee.
* `hire_date` is the date on which the employee was hired.

In [ ]:
%%sql
SELECT * FROM employees LIMIT 4;

### 5) `salaries` table

Contains information about the salaries of employees.

* `emp_no` is the employee id as defined in the `employees` table.
* `salary` is the salary which the employed is / was paid.
* `from_date` is the date from which the employee was paid the salary specified in the `salary` attribute.
* `to_date` is the date until which the employee was paid the salary specified in the `salary` attribute.

Note that the date `9999-01-01` indicates that the employee is currently being paid the salary specified in the `salary` attribute.

In [ ]:
%%sql
SELECT * FROM salaries LIMIT 4;

### 6) `titles` table

Contains information about the titles of employees.

* `emp_no` is the employee id as defined in the `employees` table.
* `title` is the title which the employee holds/held.
* `from_date` is the date from which the employee held the title specified in the `title` attribute.
* `to_date` is the date until which the employee held the title specified in the `title` attribute.

Note that the date `9999-01-01` indicates that the employee currently holds the title specified in the `title` attribute.

In [ ]:
%%sql
SELECT * FROM titles LIMIT 4;

##### Note: the examples provided above do not contain all the query operations you might need during the exam.

Now its your turn, you can write all your queries in new cells below. Feel free to add as many cells as needed.