# Information Systems for Engineers 2020 - Cheat Sheet

During the exam, you will be required to write SQL queries using a Jupyter notebook.

This notebook is designed to help you start writing your queries by providing you an environment with the datasets loaded and a simple query that you can use to recap the syntax of SQL.

Feel free to extend this notebook and use it for preparing the answers you need for the exam. Take into account that the content of this notebook will not be considered for grading.

## SQL

There is a local PostgreSQL 12 installation with a dataset loaded into a database. Run the next cell to connect to it.

In [ ]:
%load_ext sql
%sql  postgresql://postgres:example@db

To print the tables currently loaded in the database run:

In [ ]:
%%sql

SELECT * 
FROM INFORMATION_SCHEMA.TABLES 
WHERE TABLE_TYPE = 'BASE TABLE' and TABLE_CATALOG = 'postgres' and TABLE_SCHEMA = 'public';

To print the attributes of a particular table (`stations`, for example) run:

In [ ]:
%%sql

SELECT column_name, data_type, character_maximum_length
FROM INFORMATION_SCHEMA.COLUMNS 
WHERE table_name = 'stations';

## Complex query example

A more complex PostgreSQL query would look like:

In [ ]:
%%sql

SELECT id, name, service, open_mon, avg_weekday_passengers FROM (
    stations JOIN station_services 
    ON stations.id=station_services.station_id 
    AND station_services.open_mon=True
) as monday_services 
    GROUP BY id, name, service, open_mon, avg_weekday_passengers 
    HAVING service='Western Union' AND avg_weekday_passengers < 10000
    ORDER BY avg_weekday_passengers ASC;

## Exam database − semi-realistic train travel data around Zürich

The dataset represents stations, train routes, train trips and customer's trips on the SBB around Zürich. Some of the station and timetable data is real, some is synthetic, as is all the customer trip data.

Here is some basic information on the database tables.

### `stations` table

Information on the train stations in the network around Zürich.

`name` is the name of the station

`num_platforms` is the number of platforms in the station

`avg_weekday_passengers` is the average number of daily passengers on a weekday

`avg_weekend_passengers` is the average number of daily passengers on a weekend day

In [ ]:
%%sql
SELECT * FROM stations LIMIT 4;

### `station_services` table

Contains the services offered by the stations in the network, and their opening days.

`station_id` is the station id as defined in the `stations` table

`service` is the description of the service

`open_mon` represents whether the service is open on monday

`open_tue` represents whether the service is open on tueday

`open_wed` represents whether the service is open on wednesday

`open_thu` represents whether the service is open on thursday

`open_fri` represents whether the service is open on friday

`open_sat` represents whether the service is open on saturday

`open_sun` represents whether the service is open on sunday

In [ ]:
%%sql
SELECT * FROM station_services LIMIT 4;

### `train_routes` table

A train route is a fixed path and train configuration. There are multiple trips on the same route within a day.

`route_kind` is the kind of route, e.g. 'InterRegio'

`bikes_permitted` represents whether bikes are permitted on this route

`carriages` is the number of carriages in this train configuration

In [ ]:
%%sql
SELECT * FROM train_routes LIMIT 4;

### `train_trips` table

A train trip is a single one-way trip of a train on a route.

`route_id` is the corresponding train_route (in the `train_routes` table)

`headsign` is the headsign on the train for this trip

`occupancy_1st_class` is the estimate of occupancy in 1st class, as an integer between 1 and 3 (inclusive)

`occupancy_2nd_class` is the estimate of occupancy in 2nd class, as an integer between 1 and 3 (inclusive)

In [ ]:
%%sql
SELECT * FROM train_trips LIMIT 4;

### `customer_trips` table

`trip_id` is the train trip (in table `train_trips`) corresponding to this customer trip

`board_station_id` is the id of the station where the passenger boarded the train

`board_time` is the time and date when the passenger boarded the train

`alight_station_id` is the id of the station where the passenger alighted the train

`alight_time` is the time and date when the passenger alighted the train

`stops` is the number of stops encompassed by the customer's trip

`ticket_kind` is the kind of ticket used for this trip, e.g. 'Day'

`duration_mins` is the duration of the customer's trip in minutes

Contains the services offered by the stations in the network.

In [ ]:
%%sql
SELECT * FROM customer_trips LIMIT 4;

The customer trips represent one operation day, from early morning of March 12th 2019 to late night (early morning of March 13th 2019).

In [ ]:
%%sql
SELECT MIN(board_time), MAX(alight_time) FROM customer_trips;

##### Note: the examples provided above do not contain all the query operations you might need during the exam.

Now its your turn, you can write all your queries in new cells below. Feel free to add as many cells as needed.